body {
	margin: 0;
	padding: 0;
	background: #FFF;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "helvetica";
}
.bloc0{
	display:flex;
	justify-content: space-around;
}
.header{
	margin:1%;
	img{
		height: 50px;
	}
}
.navbar{
	display: flex;
	margin:2%;
	a {
		color: black;
		font-size: 20px;
		text-decoration:none;
		&:hover {
			color: #F3976C;
		}
	}
	ul{
		display:flex;
	}
	li{
		list-style-type:none;
		margin-left: 70px;
	}
}
.bloc1{
	background: url("img/la-chouette-agence-banniere.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.superposition{
	background:url("img/texture-paper.png");
}
.logo{
	text-align: center;
	padding: 50px;
}
h1 {
	font-weight: 400;
	font-size: 35px;
	color: white;
	padding:10px;
}
p{
	text-align: center;
	padding:30px;
}
.btn{
	border:3px solid white;
	background:white;
	border-radius: 20px;
	padding: 10px 40px 10px 40px;
	text-decoration: none;
	transform: scale(1);
  	transition: transform 400ms;
	&:hover {
		background:darken(#F3976C, 20%);
		border: 3px solid darken(#F3976C, 20%); 
		cursor: pointer;
		transform: scale(1.15);
		a{
			color:white;
		}
	}
}
button{
	a{
		color:grey;
		font-size: 20px;
		text-decoration: none;
		&:hover{
			color:white;
		}
	}
}
.bloc2 p{
	font-size: 25px;
	color:#333333;
}
.fond{
	display:flex;
	justify-content: space-around;
}
.org{
	text-align: center;
	p{
		font-size: 15px; 
	}
}
h5{
	text-align: center;
	font-size: 15px;
	font-style: italic;
	color:#333333;
	margin-top:-40px;
}
.bloc3{
	background: url("img/image-de-presentation.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding:2%;
	text-align: center;
	padding: 10px;
}
.superposition2{
	background:url("img/texture-paper.png");
	padding: 45px 10px 45px 10px;
	margin: -10px;
	display:flex;
	justify-content: center;
}
.marketing{
	background:url("img/texture-paper.png");
	padding-top:20px;
	width: 40%;
	margin:90px 0 90px 0;
	p{
		color:white;
	}
	a {
		color: white;
		text-decoration:none;
		&:hover {
			color: #F3976C;
		}
}
}
h6{
	text-align: center;
	font-size: 15px;
	font-style: italic;
	color:#333333;
	margin: -40px 0 0 0px;
	padding: 10px 0 50px 0;
}
.bloc4{
	padding:2%;
	background: url("img/lines-h2-bg.png");
	p {
		color: #333333;
		font-size: 25px;
		}
}
.portfolio-row{
	display: flex;
	justify-content:center;	
}
.port {
	width:40%;
	justify-content: center;
	text-align: center;
	img{
		width: 50%;
	}
	p{
		font-size: 20px;
	}	
}
h3{
	text-align: center;
	line-height: 40px;
	font-size: 35px;
	margin: 5px 0 -15px 0;
}
.bloc5{
	background: url("img/la-chouette-agence-banniere.jpg");
	text-align: center;
	padding: 120px 0px 140px 0px;
}
footer{
	background:#D34202;
	margin-top:-20px;
	p{
		color:white;
		line-height:25px;
		font-size:20px;
		 }
	a:hover{
		color:#F3976C;
	}
}
h2{
	font-size: 30px;
	color:white;
	font-style: italic;
	line-height: 40px;
	padding-bottom: 40px;
}
.liens{
	display:flex;
	justify-content: center;
	color:white;
	a{
		text-decoration: none;
		color:white;
		 }
}
.icones{
	text-align: center;
	color:white;
	font-size: 25px;
	.fa{
		margin:10px;
		color:white;
		 }
		 a{
			text-decoration: none;
			 }
}
.fa:hover{
	color:#F3976C;
}
@media (max-width: 767px) {
	
	.navbar{
		flex-direction: column;
		line-height:30px ;
	}
	ul{
		flex-direction: column;
	}
	.fond{
		flex-direction: column;
	}
	.marketing{
		width: 95%;
	}
	.portfolio-row{
		flex-direction: column;
	}
	.port {
		width:100%;
	}
}
